<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact Us</title>
</head>
<body>
<a href="{% url 'My-About' %}">About</a>
<a href="{% url 'My-Index' %}">HomePage</a>
<h2>ContactUs</h2>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur ducimus fugit
    ipsa itaque laboriosam placeat, rerum. Accusamus accusantium aspernatur eaque illum minima nam nihil repellendus! Ab dolorum iste laudantium quo!</span><span>Aliquid at aut explicabo inventore labore laboriosam maxime nobis numquam, placeat praesentium, quaerat velit! Ad beatae illo nesciunt nostrum numquam optio veniam, voluptates. Deleniti eaque ex ipsam molestias non rem!</span><span>Accusamus accusantium adipisci alias architecto aut commodi deserunt dolor dolorum eius expedita explicabo facere harum incidunt inventore itaque minima non placeat possimus praesentium qui quos repudiandae saepe suscipit, ullam voluptates?</span></p>
<img src="{% static 'img/dagger1.jpeg' %}" alt="">
<img src="{% static 'img/dagger2.jpeg' %}" alt="">
</body>
</html>